
body {
    font-family: Arial, sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #474747d2;

}


header {
    background-color: #474747d2;
    padding: 10px;
    text-align: center;
    height: 300px;
    
 
    
}

/* Style the logo image */
.logo {
  
    width: 700px; /* Adjust the width as needed */
    height: auto; /* Maintain aspect ratio */
    margin-top: -100px; /* Adjust this value to move the image up */
    
  }

 .imgbody {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
 }

 .imgbody1 {
  max-width: 100%;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
 }


main {
text-align-last: center;
font-family: 'Times New Roman', Times, serif;
height: 20px;
padding: 20px;
background-color: #ffffff;
  

}

/*first img*/
body img {
    
    color: #000000;
    padding: 10px;
    align-items: center;
    height: auto;
    border-radius: 30px;
    
}


body{
font-family: 'Times New Roman', Times, serif;



}

footer {
    background-color: #ffffffd2;
    color: #fff;
    padding: 10px;
    text-align: center;
    color: #030303;
   
}

footer{

  margin-bottom: 100px;
}

button {
    font-size: 18px;
    color: #222;
    font-family: inherit;
    font-weight: 600;
    cursor: pointer;
    position: relative;
    border: none;
    background: none;
    text-transform: uppercase;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: color;
    
  }
  
  button:focus,
  button:hover {
    color: #e6b03c;
  }
  
  button:focus:after,
  button:hover:after {
    width: 100%;
    left: 0%;
  }
  
  button:after {
    content: "";
    pointer-events: none;
    bottom: -2px;
    left: 50%;
    position: absolute;
    width: 0%;
    height: 2px;
    background-color: #948d7e;
    transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
    transition-duration: 400ms;
    transition-property: width, left;
  }

 
  p.mix {border-style: dotted dashed solid double;}

  